.footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    line-height: 1.4;
}

.footer-element__title {
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.logo { grid-area: logo; }

.copyright-left { grid-area: copyright-left; }

.copyright-right { grid-area: copyright-right; }

.address { grid-area: address; font-style: normal}

.hours { grid-area: hours; }
